/*Apply a box layout model to all elements while allowing componenets to change */
* {
  box-sizing: border-box;
}

.settings {
  background: #2c2c2c;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes slide-left {
  from {
    margin-left: 600px;
    opacity: 0;
  }

  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    font-size: 0;
  }

  to {
    font-size: 50px;
  }
}

.title {
  font-family: "Bebas Neue", cursive;
  color: aliceblue;
  font-size: 50px;
  animation: zoom 0.4s;
}

.ghibli {
  width: 500px;
  height: auto;
  border: 1px;
}

.description {
  font-family: "roboto", cursive;
  font-size: 25px;
  width: 500px;
  border: 3px groove aliceblue;
  background: linear-gradient(to bottom left, #ff7795 0%, #a73cff 100%);
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
}

.home {
  color: aliceblue;
  font-family: "roboto", cursive;
  font-size: 20px;
  padding: 5px;
}

.recipes {
  color: aliceblue;
  border: 3px groove aliceblue;
  border-radius: 10px;
  background: linear-gradient(to bottom left, #286fa8 0%, #8810c0 100%);
  margin: 5px;
  font-family: "roboto", cursive;
  font-size: 25px;
}

.baconpancakes {
  color: aliceblue;
}

.ponyoramen {
  color: aliceblue;
}

.capncrunch {
  color: aliceblue;
}

.recipe-title {
  font-family: "Bebas Neue", cursive;
  color: aliceblue;
  font-size: 50px;
  animation: slide-left 0.4s;
}

.at-vid {
  animation: slide-left 0.4s;
}

.ponyoimg {
  animation: slide-left 0.4s;
}

.crunch {
  width: 500px;
  animation: slide-left 0.4s;
}

.imgdescription {
  font-family: "bebas neue", sans-serif;
  font-size: 30px;
  color: aliceblue;
  font-weight: lighter;
  animation: slide-left 0.6s;
}

.paragraph {
  color: aliceblue;
  font-size: 25px;
  font-family: "roboto", cursive;
  width: 500px;
  border: 3px groove rgb(255, 255, 255);
  background: #ff7795;
  padding: 10px;
  border-radius: 10px;
  animation: slide-left 0.8s;
}

.ingredientshead {
  color: aliceblue;
  font-size: 30px;
  font-family: "bebas neue", sans-serif;
  font-weight: lighter;
  animation: slide-left 1s;
}

.ingredients {
  font-size: 25px;
  font-family: "roboto", cursive;
  color: aliceblue;
  border: 3px groove aliceblue;
  margin: 5px;
  width: 500px;
  border-radius: 10px;
  background: #2f67cf;
  animation: slide-left 1s;
}

.instructionshead {
  color: aliceblue;
  font-size: 30px;
  font-family: "bebas neue", sans-serif;
  font-weight: lighter;
  animation: slide-left 1.2s;
}

.instructions {
  font-size: 25px;
  font-family: "roboto", cursive;
  color: aliceblue;
  border: 3px groove aliceblue;
  margin: 5px;
  width: 500px;
  border-radius: 10px;
  background: #650bb9;
  animation: slide-left 1.2s;
}

.source {
  margin: 10px;
  color: aliceblue;
  font-family: "roboto", cursive;
  font-size: 20px;
}

.top {
  color: aliceblue;
  font-family: "roboto", cursive;
  font-size: 20px;
  padding: 5px;
}
