/*Apply a box layout model to all elements while allowing componenets to change */
* {
  box-sizing: border-box;
}

.settings {
  background: #2c2c2c;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes slide-left {
  from {
    margin-left: 600px;
    opacity: 0;
  }

  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.title {
  font-family: "Bebas Neue", cursive;
  color: aliceblue;
  font-size: 50px;
  animation: slide-left 0.4s;
}

.ghibli {
  width: 500px;
  height: auto;
  border: 1px;
  animation: slide-left 0.8s;
}

.description {
  font-family: "roboto", cursive;
  font-size: 25px;
  width: 500px;
  border: 3px groove aliceblue;
  background: linear-gradient(to bottom left, #ff7795 0%, #a73cff 100%);
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  animation: slide-left 1.2s;
}

.home {
  color: aliceblue;
}

.recipes {
  color: aliceblue;
  font-family: "roboto", cursive;
  font-size: 25px;
}

.baconpancakes {
  color: aliceblue;
}

.at-vid {
  animation: slide-left 0.8s;
}

.imgdescription {
  font-family: "bebas neue", sans-serif;
  font-size: 30px;
  color: aliceblue;
  font-weight: lighter;
  animation: slide-left 0.8s;
}

.paragraph {
  color: aliceblue;
  font-size: 25px;
  font-family: "roboto", cursive;
  width: 500px;
  border: 3px groove rgb(255, 255, 255);
  background: linear-gradient(to bottom left, #ff7795 0%, #a73cff 100%);
  padding: 5px;
  border-radius: 10px;
  animation: slide-left 1.2s;
}

.ingredientshead {
  color: aliceblue;
  font-size: 30px;
  font-family: "bebas neue", sans-serif;
  font-weight: lighter;
  animation: slide-left 1.6s;
}

.ingredients {
  font-size: 25px;
  font-family: "roboto", cursive;
  color: aliceblue;
  border: 3px groove aliceblue;
  margin: 5px;
  border-radius: 10px;
  background: linear-gradient(to bottom left, #c977ff 0%, #3c80ff 100%);
  animation: slide-left 2s;
}

.instructionshead {
  color: aliceblue;
  font-size: 30px;
  font-family: "bebas neue", sans-serif;
  font-weight: lighter;
  animation: slide-left 2.4s;
}

.instructions {
  font-size: 25px;
  font-family: "roboto", cursive;
  color: aliceblue;
  border: 3px groove aliceblue;
  margin: 5px;
  width: 500px;
  border-radius: 10px;
  background: linear-gradient(to bottom left, #59ffb2 0%, #9900ff 100%);
  animation: slide-left 2.4s;
}
